<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive>Stamper Software Dating</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @if(accountService.currentUser()) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>
            }
        </ul>
         
        @if(accountService.currentUser()){
            <div class="dropdown" dropdown>
                <button class="btn btn-secondary dropdown-toggle" dropdownToggle type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome {{accountService.currentUser()?.userName | titlecase}}
                </button>
                <ul class="dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" routerLink="/edit-profile" routerLinkActive="active">Edit Profile</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="handleLogout()">Logout</a></li>
                </ul>
            </div>
        } @else {
            <form #loginForm="ngForm" (ngSubmit)="handleLogin()" class="d-flex gap-2" autocomplete="off">
                <input name="username" class="form-control mr-sm-2" placeholder="Username" [formControl]="usernameControl">
                <input name="password" type="password" class="form-control mr-sm-2" placeholder="Password" [formControl]="passwordControl">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </form>
        } 
    </div>
</nav>

